<a href="https://colab.research.google.com/github/gio-bis/MLPNS2021/blob/main/Ztest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd

In [40]:
rain = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")

In [41]:
rain.DATE

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-05
           ...
3533    2019-09-04
3534    2019-09-05
3535    2019-09-06
3536    2019-09-07
3537    2019-09-08
Name: DATE, Length: 3538, dtype: object

In [42]:
rain.PRCP

0       0.28
1       0.00
2       0.00
3       0.00
4       0.00
        ...
3533    0.00
3534    0.00
3535    0.00
3536    0.02
3537    0.00
Name: PRCP, Length: 3538, dtype: float64

In [43]:
pd.to_datetime(rain.DATE)

0      2010-01-01
1      2010-01-02
2      2010-01-03
3      2010-01-04
4      2010-01-05
          ...
3533   2019-09-04
3534   2019-09-05
3535   2019-09-06
3536   2019-09-07
3537   2019-09-08
Name: DATE, Length: 3538, dtype: datetime64[ns]

In [44]:
pd.to_datetime(rain.DATE) > "2018/01/01"

0       False
1       False
2       False
3       False
4       False
        ...
3533     True
3534     True
3535     True
3536     True
3537     True
Name: DATE, Length: 3538, dtype: bool

In [45]:
df2019 = rain.loc[rain['DATE'] > "2018/01/01"]

In [46]:
df2019

          STATION                    NAME        DATE  ...  SNWD  WESD  WESF
3287  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-01-01  ...   NaN   NaN   NaN
3288  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-01-02  ...   NaN   NaN   NaN
3289  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-01-03  ...   NaN   NaN   NaN
3290  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-01-04  ...   NaN   NaN   NaN
3291  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-01-05  ...   NaN   NaN   NaN
...           ...                     ...         ...  ...   ...   ...   ...
3533  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-04  ...   NaN   NaN   NaN
3534  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-05  ...   NaN   NaN   NaN
3535  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-06  ...   NaN   NaN   NaN
3536  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-07  ...   NaN   NaN   NaN
3537  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-08  ...   NaN   NaN   NaN

[251 rows x 8 columns]

In [49]:
dfPop = rain.loc[rain['DATE'] <= "2018/01/01"]

In [50]:
dfPop

          STATION                    NAME        DATE  ...  SNWD  WESD  WESF
0     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-01  ...   0.0   NaN   NaN
1     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-02  ...   NaN   NaN   NaN
2     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-03  ...   NaN   NaN   NaN
3     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-04  ...   NaN   NaN   NaN
4     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-05  ...   NaN   NaN   NaN
...           ...                     ...         ...  ...   ...   ...   ...
3282  US1DENC0010  NEWPORT 2.4 WNW, DE US  2018-12-27  ...   NaN   NaN   NaN
3283  US1DENC0010  NEWPORT 2.4 WNW, DE US  2018-12-28  ...   NaN   NaN   NaN
3284  US1DENC0010  NEWPORT 2.4 WNW, DE US  2018-12-29  ...   NaN   NaN   NaN
3285  US1DENC0010  NEWPORT 2.4 WNW, DE US  2018-12-30  ...   NaN   NaN   NaN
3286  US1DENC0010  NEWPORT 2.4 WNW, DE US  2018-12-31  ...   NaN   NaN   NaN

[3287 rows x 8 columns]

In [58]:
prec2019 = df2019['PRCP']
precpop = dfPop['PRCP']

In [61]:
prec2019.mean()

0.14039840637450202

In [66]:
prec2019.std()

0.3263137150618254

In [62]:
precpop.mean()

0.1371067843017944

In [67]:
precpop.std()

0.38614989628079316

In [65]:
N = len(prec2019) #size of the sample

In [68]:
import numpy as np
(prec2019.mean() - precpop.mean())/(prec2019.std()/np.sqrt(N))

0.15981277730914867